@import "../../../../styles/Global.scss";

.table {
    width: 100%;
    overflow: auto;

    .title {
        margin-bottom: 42px;
    }

    .table_header {
        min-width: 600px;
        padding-left: 38px;
        padding-top: 38px;
        padding-right: 38px;
        padding-bottom: 42px;
        display: flex;
        flex-direction: row;
        align-items: center;
        width: 100%;
        @include background-opacity($color-orange-100, 0.1);
        margin-bottom: 1px;
        gap: 30px;

        .table_title {
            font-style: normal;
            font-weight: 400;
            font-size: 1.25rem;
            color: var(--color-blue-700);
        }
    }

    .action_btn_container {
        display: flex;
        flex-direction: row;
        align-items: center;

        .action_button {
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 30px;
            height: 30px;
            border: none;
            outline: none;
            background-color: transparent;

            &:hover {
                transition: 0.1s;
                background-color: var(--color-white-100);
                filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.065));
            }
        }
    }
}