.container {
    input {
        display: none;
    }

    label {
        content: url('../../../assets/icons/check.svg');
        text-align: center;
        width: 27px;
        height: 27px;
        border: 1px solid var(--color-gray-500);
        background-color: var(--color-white-100);
        display: inline-block;
        color: var(--color-white-100);
        cursor: pointer;
        padding: 2px
    }

    input:checked+label {
        background-color: var(--color-orange-500);
        color: var(--color-white-100);
    }
}