.input_wrapper {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
    position: relative;

    label {
        font-style: normal;
        font-weight: 400;
        font-size: 0.875rem;
        margin-bottom: 11px;
        color: var(--color-blue-700);

        @media (max-width: 900px) {
            margin-bottom: 5px;
        }
    }


    .error_msg {
        position: absolute;
        bottom: -16px;
        color: var(--color-red-500);
        font-size: .875rem;

        @media (max-width: 900px) {
            bottom: -13px;
            right: 0;
        }
    }
}