.button {
    font-size: 0.938rem;
    padding-left: 19px;
    padding-right: 25px;
    padding-top: 4px;
    padding-bottom: 4px;
    color: var(--color-white-100);
    background-color: var(--color-orange-500);

    filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));

    outline: none;
    border: none;

    &:active {
        opacity: 0.9;
    }

    &:hover {
        background-color: var(--color-orange-600);
    }
}