@import "../../../../styles/Global.scss";

.table {
    width: 100%;

    .delete_button {
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 30px;
        height: 30px;
        border: none;
        outline: none;
        background-color: transparent;

        &:hover {
            transition: 0.1s;
            background-color: var(--color-white-100);
            filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.065));
        }
    }
}