.sidebar {
    width: 364px;
    height: 100%;
    background-color: var(--color-blue-700);
    position: fixed;
    overflow-y: auto;
    overflow-x: hidden;

    .logo {
        display: block;
        margin: 15px auto;
    }

    nav {
        min-height: 500px;
        width: 100%;
        padding-left: 34px;
        display: flex;
        flex-direction: column;
        gap: 8px;
    }

    @media (max-width: 900px) {
        display: none;
    }

}